<!DOCTYPE html>
<html  lang="es-ES">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Programa y contenidos | Ganemos Madrid</title>
        <link rel="profile" href="http://gmpg.org/xfn/11">

        <!-- favicon -->


        <!--[if IE]><![endif]-->

        <link rel="alternate" type="application/rss+xml" title="Ganemos Madrid &raquo; Feed" href="http://ganemosmadrid.info/feed/" />
        <link rel="alternate" type="application/rss+xml" title="Ganemos Madrid &raquo; RSS de los comentarios" href="http://ganemosmadrid.info/comments/feed/" />
        <link rel="alternate" type="application/rss+xml" title="Ganemos Madrid &raquo; Programa y contenidos RSS de la categoría" href="http://ganemosmadrid.info/category/programa-y-contenidos/feed/" />
        <link rel="stylesheet" href="{{ asset('bundles/ganemosmadridfirmasapoyo/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ganemosmadridfirmasapoyo/css/app.css') }}">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type='text/javascript' src="{{ asset('bundles/ganemosmadridfirmasapoyo/js/jquery-validation/dist/jquery.validate.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/ganemosmadridfirmasapoyo/js/jquery-validation/dist/localization/messages_es.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var GoogleCalendarEvents = {"ajaxurl": "http:\/\/ganemosmadrid.info\/wp-admin\/admin-ajax.php", "loading": "Cargando..."};
            /* ]]> */
        </script>
        <script type='text/javascript' src='http://ganemosmadrid.info/wp-content/plugins/google-calendar-events/js/gce-script.js'></script>
        <meta name="generator" content="WordPress 4.0" />
        <style type="text/css">a, #infinite-handle span, #secondary .widget .post-content a {color:#75a2ad}a:hover, a:active, #secondary .widget .post-content a:hover {color: #629ead;}.btn-default, .label-default, .flex-caption h2, .btn.btn-default.read-more, button {background-color: #2696ae; border-color: #2696ae;} .site-main [class*="navigation"] a, .more-link { color: #2696ae}.btn-default:hover, .label-default[href]:hover, .tagcloud a:hover, button, .main-content [class*="navigation"] a:hover, .label-default[href]:focus, #infinite-handle span:hover, .btn.btn-default.read-more:hover, .btn-default:hover, .scroll-to-top:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .site-main [class*="navigation"] a:hover, .more-link:hover, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover, .cfa-button:hover { background-color: #72a2ad; border-color: #72a2ad; }.navbar.navbar-default {background-color: #2696ae;}.dropdown-menu {background-color: #2696ae;}.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background-color: ; color:#72a2ad}#colophon {background-color: #000000;}#footer-area, .site-info {color: #ffffff;}#footer-area {background-color: #000000;}.entry-content {font-family: Open Sans; font-size:14px; font-weight: normal; color:#6B6B6B;}</style><!-- All in one Favicon 4.3 --><link rel="icon" href="http://ganarmadrid.net/wp-content/uploads/2014/07/favicon2.png" type="image/png"/>
        <link rel="shortcut icon" href="http://ganarmadrid.net/wp-content/uploads/2014/07/favicon.png" />
        <link rel="icon" href="http://ganarmadrid.net/wp-content/uploads/2014/07/favicon1.png" type="image/gif"/>
    </head>
    
    <body>
        <header role="banner" class="site-header" id="masthead">
            <div class="container">
                <div class="row">
                    <div id="logo" class="col-sm-9 col-md-offset-3">
                        <a href="http://ganemosmadrid.info/"><img width="300" height="76" alt="Ganemos Madrid" src="http://ganemosmadrid.info/wp-content/uploads/2014/07/cropped-ganarmad.png"></a>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="col-sm-6 col-md-offset-3">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>