{% extends 'GanemosMadridFirmasApoyoBundle::layout.html.twig' %}

{% block body %}

    <h1>¡Muchas gracias, tu firma ha sido registrada!</h1>

    <div class="row">
        <div class="form-group col-md-4">
            <a class="btn btn-default" href="{{ path('firmar') }}" role="button">Volver a firmar</a>
        </div>
        <div class="form-group col-md-4">
            <a class="btn btn-default" href="{{ path('apoyos') }}" role="button">Listado de apoyos</a>
        </div>
        <div class="form-group col-md-4">
            <a class="btn btn-default" href="http://ganemosmadrid.info" role="button">Ir a ganemosmadrid.info</a>
        </div>
    </div>


{% endblock %}